<h1> Employees Management </h1>
<div>
  <table class="imagetable">
    <tr>
      <th align = "left"> First Name </td>
      <th align = "left"> Last Name </td>
      <th align = "left"> Employee Code </td>
      <th align = "left"> User Name </td>
      <th align = "left"> Email </td>
      <th colspan="2", align = "left"> Actions </td>
    </tr>
    <% if @employees.present? %>
      <%= render partial: "employees/employee", collection: @employees %>
    <% else %>
      <tr><td colspan="4"> "No employee found" </td></tr>
    <% end %> 
  </table>
  <%= link_to("New Employee", new_employee_path) %><br />
</div>
