<h1> Client Management </h1>
<div>
  <table class="imagetable">
    <tr>
      <th align = "left"> Name </th>
      <th align = "left"> Code </th>
      <th colspan="3", align = "left"> Actions </th>
    </tr>
  <% if @clients.present? %>
    <%= will_paginate @clients %>
    <%= render partial: "clients/client", collection: @clients %>
  <% else %>
    <tr><td colspan="4"> "No client found" </td></tr>
  <% end %> 
  </table>
  <%= link_to("New Client", new_client_path) %><br />
</div>
