<h1> Activity Types Management </h1>
<div>
  <table class="imagetable">
    <tr>
      <th align = "left">  Name </td>
      <th align = "left"> Actions </td>
    </tr>
    <% if @activity_types.present? %>
      <%= render partial: "activity_types/activity_type", collection: @activity_types %>
    <% else %>
      <tr><td colspan="2"> "No activity type found" </td></tr>
    <% end %>
  </table>
  <%= link_to("New Activity Type", new_activity_type_path) %><br />
</div>
