<h1> Projects Management </h1>
<div>
  <table class="imagetable">
    <tr>
      <th align = "left">  Name </td>
      <th align = "left"> Code </td>
      <th align = "left"> Client </td>
      <th colspan="2", align = "left"> Actions </td>
    </tr>
    <% if @projects.present? %>
       <%= render partial: "projects/project", :collection => @projects %>
    <% else %>
      <tr><td colspan="4"> "No project found" </td></tr>
    <% end %>
  </table>
</div>
<%= link_to("New Project", new_project_path) %><br />
